.cardContainer {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  background-color: var(--white);

  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cardContent {
  width: 524px;
  height: 320px;
}

.cardTitleContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.likeIcon {
  width: 24px;
  height: 21px;
}

.camperTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--main);
}

.addText {
  display: flex;
  gap: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.addIcon {
  width: 16px;
  height: 16px;
}

.addTextItem {
  display: flex;
  gap: 4px;
  align-items: center;
}

.description {
  font-weight: 400;
  color: var(--text);
  margin-bottom: 16px;
}

.camperBtn {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--button);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01rem;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: auto;
}

.camperBtn:hover,
.camperBtn:focus {
  background-color: var(--button-hover);
}
